$main-color: #8f8f8f;
$main-font-size: 16px;
$main-font: HelveticaNeue, sans-serif;
$main-link-color:  #666262;
$link_hover-color: #87b672;
$sidebar-title-color: #6c6969;
$footer-font-color:  #9b9999;
$h2-font-size: (20/16)*1rem;
$h3-font-size: (18/16)*1rem;
$h3-font-weight: 600;
$h3-font-family: Novecentowide, sans-serif;
$h2-font-family: Novecentowide, sans-serif;
$h2-font-weight: 600;
$type-box-sizing: border-box;
$min-width: 320px;
$xs-width: 480px;
$sm-width: 768px;
$md-width: 992px;
$lg-width: 1200px;
$max-width: 1920px;
$link-text-decoration: none;
$link-cursor: pointer;
$link-transition: color 0.5s linear;