@import '../utils/_variables';
.button {
  display: inline-block;
  background-color: #87b672;
  padding: 15px 20px;
  color: white;
  font-family: Novecentowide,sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: (14/16)*1rem;
  &:hover {
    color: #00A8EF;
  }
}
button[type="submit"] {
  display: inline-block;
  text-transform: uppercase;
  background-color: #828282;
  padding: 10px 15px;
  border: none;
  color: white;
  margin-left: 5px;
}