@import '../utils/_variables',
'../utils/_mixins';

/* ie hack
don't remove that style*/
.m-page {
  display: block;
}

@font-face {
  font-family: 'NovecentoSans';
  src: url('../fonts/Novecentosanswide-DemiBold-webfont.eot');
  src: url('../fonts/Novecentosanswide-DemiBold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Novecentosanswide-DemiBold-webfont.woff2') format('woff2'),
  url('../fonts/Novecentosanswide-DemiBold-webfont.woff') format('woff'),
  url('../fonts/Novecentosanswide-DemiBold-webfont.ttf') format('truetype'),
  url('../fonts/Novecentosanswide-DemiBold-webfont.svg#novecento_sans_widedemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Regular.eot');
  src: url('../fonts/HelveticaNeue-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue-Regular.woff') format('woff'),
  url('../fonts/HelveticaNeue-Regular.ttf') format('truetype'),
  url('../fonts/HelveticaNeue-Regular.svg#HelveticaNeue-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.container-fluid {
  min-width: $min-width;
  max-width: $max-width;
}

.container-fluid:before, .container-fluid:after,
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.container-fluid:after,
.clearfix:after {
  clear: both;
}

* {
  @include prefix(box-sizing, border-box, webkit moz);
}

.wrapper {
  overflow: hidden;
  min-width: $min-width;
  max-width: 100%;
  margin: 0 auto;
}

html {
  font-size: $main-font-size;
  margin-top: 0 !important;
}

body {
  font-family: $main-font;
  font-size: $main-font-size;
  color: $main-color;
  margin: 0;
  letter-spacing: 0.8px;
  a {
    text-decoration: none;
    color: $main-link-color;
    outline: none;
    &:hover {
      text-decoration: none;
      color: $link_hover-color;
      transition: $link-transition;
      outline: none;

    }
    &:active {
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

h1 {
  a {
    font-family: 'Pacifico', cursive;
    font-size: (40px/16px)*1rem;
    font-weight: 400;
  }
}
.m-page {
  h2, h3 {
    text-transform: uppercase;
    color: #5f5b5b;
  }
}
h2 {
  font-family: $h2-font-family;
  font-size: $h2-font-size;
  font-weight: $h2-font-weight;
}

h3 {
  font-size: $h3-font-size;
  font-family: $h3-font-family;
  font-weight: $h3-font-weight;
}
.title-centered {
  text-align: center;
}
label {
  margin: 0;
}